<!DOCTYPE html>
<html>
	<head>
		<title> Fudo - World Recipes </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<script src='https://unpkg.com/vue'></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    
		<div id='app' class="container">
			<h1> Hello {{name}} ! </h1>
      <div class="row">
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-4">.col-md-4</div>
      </div>
      <div id='component'></div>
		</div>

    <script src='./index.js' type='text/javascript'></script>	
	</body>
</html>

