body{
	margin: 0px;
	line-height: initial;
}

ul.nav-bar{
	margin: 0px;
  background-color: #E1B1AF;
  padding: 8px;
  z-index: 1;
	text-align: center;
}

li.nav-bar{
  display: inline;
  color: white;
  padding: 0;
}

.nav-link{
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
	color: white !important;
	text-decoration: none !important;
}

.fudo-link{
	transform: translateY(-5px);
}

.float-right{
	float: right;
}

.float-left{
	float: left;
}

.search-bar{
	width: 30%;
	margin: auto;
	text-align: center;
	padding: 3px 3px;
	margin-bottom: 3px;
	border: 0px;
}

input.search-bar{
	height: 30px;
	font-size: 16px;
}

.fa-search{
	font-size: 21px;
}

a.search-icon{
	padding: 0px 10px 0px 10px;
	display: inline-block;
}

.heading-area{
	height: 500px;
	width: 100%;
	background-color: #D8E5F1;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.font-pacifico{
	font-family: 'Pacifico';
	text-rendering: optimizeLegibility; 
	font-weight: normal;
}

.font-poiret{
	font-family: 'Poiret One', cursive;
}

h1{
	font-size: 100px;
	margin: 0;
}

h4{
	font-size: 25px;
	margin: 20px;
}

hr{
	width: 50%;
	margin: -10px auto -10px auto;
}

.h-center-div{
	margin: 0 auto;
}

.center-text{
	text-align: center;
}

input{
	padding: 5px 5px 5px 5px;
}

.font-size-30{
	font-size: 22px;
}

.btn{
	border-radius: 0px;
}

.margin-top-15{
	margin-top: 15px;
}

.margin-bottom-0{
	margin-bottom: 0px;
}